<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="beanbag">
    <meta name="author" content="voidint">

    <title>联系人消息 - iBeanBag</title>

    <link href="/static/plugins/bootstrap-3.3.2/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/static/plugins/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/static/plugins/metisMenu-1.0.3/metisMenu.min.css" rel="stylesheet" type="text/css">
    <link href="/static/plugins/eonasdan-bootstrap-datetimepicker-4.7.14/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/sb-admin-2.css" rel="stylesheet" type="text/css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style type="text/css">
    body {
        padding-bottom: 30px;
    }
    /*.panel-body span.glyphicon {
        font-size: 22px;
        cursor: pointer;
    }*/
    
    #stage-div-id span.glyphicon {
        font-size: 14px;
    }
    #stage-div-id span.fa {
        font-size: 14px;
    }
    #stage-div-id span.glyphicon-star-empty {
        font-size: 26px;
        cursor: pointer;
    }
    #stage-div-id span.glyphicon-star {
        font-size: 26px;
    }
    .simple-search-container {
        display: inline-block;
        position: relative;
    }
    .menu-down-pos {
        position: absolute;
        right: 5px;
        top: 10px;
    }
    #simple-search .glyphicon-menu-down,
    #advance-search .glyphicon-menu-up {
        cursor: pointer;
    }
    </style>

</head>

<body>

    <div id="wrapper">

        {{template "navbarTpl" .}}

        <!-- Page Content -->
        <div id="page-wrapper">
            <!-- <div class="container-fluid"> -->
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">{{i18n .Lang "admin_msg_contact_header"}}</h3>
                </div>
                <!--/.col-lg-12-->
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">{{i18n .Lang "admin_msg_contact_panel_heading"}}</div>
                        <div class="panel-body">

                            <div class="row">
                                <div class="col-md-6">
                                    <!-- <div style="padding-bottom:10px;">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Search for...">
                                            <div class="input-group-btn">
                                                <button class="btn btn-default" type="button">
                                                    <span class="glyphicon glyphicon-search"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div> -->

                                    <div style="padding-bottom:10px;" id="simple-search">
                                        <div class="simple-search-container">
                                            <input type="text" id="simple-search-input" class="form-control" placeholder="{{i18n .Lang `admin_msg_contact_simple_search_placeholder`}}">
                                            <span class="glyphicon glyphicon-menu-down simple-search-menu-down menu-down-pos"></span>
                                        </div>
                                    </div>
                                    <!-- #simple-search -->

                                    <div class="panel panel-default" id="advance-search" style="display:none;">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-sm-11">
                                                    <h4 class="panel-title">
                                                    {{i18n .Lang "admin_msg_contact_search_panel_heading"}}
                                                    </h4>
                                                </div>
                                                <div class="col-sm-1">
                                                    <span class="glyphicon glyphicon-menu-up"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <form class="form-horizontal" role="form" id="advance-search-form">
                                                <div class="form-group">
                                                    <label for="msg-name" class="control-label col-sm-2">
                                                        {{i18n .Lang "admin_msg_contact_search_name"}}:
                                                    </label>
                                                    <div class="col-md-10">
                                                        <input type="text" class="form-control" name="Name" id="msg-name">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="msg-email" class="control-label col-sm-2">
                                                        {{i18n .Lang "admin_msg_contact_search_email"}}:
                                                    </label>
                                                    <div class="col-md-10">
                                                        <input type="text" class="form-control" name="Email" id="msg-email">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="msg-phone" class="control-label col-sm-2">
                                                        {{i18n .Lang "admin_msg_contact_search_phone"}}:
                                                    </label>
                                                    <div class="col-md-10">
                                                        <input type="text" class="form-control" name="Phone" id="msg-phone">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="msg-company" class="control-label col-sm-2">
                                                        {{i18n .Lang "admin_msg_contact_search_company"}}:
                                                    </label>
                                                    <div class="col-md-10">
                                                        <input type="text" class="form-control" name="Company" id="msg-company" placeholder="">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="msg-text" class="control-label col-sm-2">
                                                        {{i18n .Lang "admin_msg_contact_search_msg_body"}}:
                                                    </label>
                                                    <div class="col-md-10">
                                                        <input type="text" class="form-control" name="Text" id="msg-text">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="msg-text" class="control-label col-sm-2">
                                                        {{i18n .Lang "admin_msg_contact_search_stat"}}:
                                                    </label>
                                                    <div class="col-md-10">
                                                        <select class="form-control" name="State" id="msg-state">
                                                            <option value="0">
                                                                {{i18n .Lang "admin_msg_contact_search_stat_all"}}
                                                            </option>
                                                            <option value="1">
                                                                {{i18n .Lang "admin_msg_contact_search_stat_unprocessed"}}
                                                            </option>
                                                            <option value="2">
                                                                {{i18n .Lang "admin_msg_contact_search_stat_processed"}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="msg-text" class="control-label col-sm-2">
                                                        {{i18n .Lang "admin_msg_contact_search_time"}}:
                                                    </label>
                                                    <div class="col-md-10">
                                                        <div class="row">
                                                            <div class="col-md-5">
                                                                <input type="text" class="form-control" name="BeginDate" id="msg-date-begin">
                                                                <!-- <div class="input-group date" id='msg-date-begin'>
                                                                    <input type='text' class="form-control" />
                                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                                                    </span>
                                                                </div> -->
                                                            </div>
                                                            <div class="col-md-2 text-center">
                                                                {{i18n .Lang "admin_msg_contact_search_to"}}
                                                            </div>
                                                            <div class="col-md-5">
                                                                <input type="text" class="form-control" name="EndDate" id="msg-date-end">
                                                                <!-- <div class="input-group date" id="msg-date-end">
                                                                    <input type='text' class="form-control" />
                                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                                                    </span>
                                                                </div> -->
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-10 col-md-offset-2">
                                                        <button type="button" class="btn btn-primary btn-block" onclick="search();">{{i18n .Lang "label_btn_search"}}</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- /.panel-body -->
                                    </div>
                                    <!-- /#advance-search -->


                                    <div class="list-group" id="data-div-id"></div>
                                    <div id="alert-div-id"></div>
                                    <div class="row text-center">
                                        <ul id="pagination"></ul>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <ul class="list-group" id="stage-div-id"></ul>
                                </div>
                            </div>

                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel panel-default -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    {{template "admin/tpl_footer.html"}}


    <script src="/static/plugins/jquery-1.11.1.min.js"></script>
    <script src="/static/plugins/bootstrap-3.3.2/js/bootstrap.js"></script>
    <script src="/static/plugins/metisMenu-1.0.3/metisMenu.min.js"></script>
    <script src="/static/plugins/bootstrap-paginator-1.0/bootstrap-paginator.min.js"></script>
    <script src="/static/plugins/moment-2.9.0/min/moment-with-locales.min.js"></script>
    <script src="/static/plugins/eonasdan-bootstrap-datetimepicker-4.7.14/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/static/scripts/sb-admin-2.js"></script>
    <script src="/static/scripts/commFunc.js"></script>

    <script type="text/javascript">
    function mark(obj, id) {
        $.ajax({
            type: "POST",
            url: "/admin/message/contact/mark",
            data: {
                "Id": id,
                "State": 2,
            },
            dataType: "json",
            success: function(json) {
                if (json.Result === "success") {
                    $(obj).removeClass('glyphicon-star-empty').addClass('glyphicon-star');
                    $("#data-div-id a[data-id='" + id + "']").data('state', 2);
                    return;
                }
                addAlert($('#stage-div-id').find('.alert-div'), json.Msg, 'alert-danger');
            },
            error: function() {
                addAlert($('#stage-div-id').find('.alert-div'), '{{i18n .Lang "tips_sys_err_and_contact_tech"}}', 'alert-danger');
            }

        });
    };

    function showMsg(item) {
        var $item = $(item);
        var id = $item.data('id');
        var flagHTML = $item.data('state') > 1 ? '<span class="glyphicon glyphicon-star"></span>' : '<span class="glyphicon glyphicon-star-empty" onclick="mark(this,\'' + id + '\');"></span>';

        var html = [
            '<li class="list-group-item">',
            '  <div class="row">',
            '    <div class="col-sm-10">',
            '      <address>',
            '        <span class="glyphicon glyphicon-user"></span>&nbsp;<strong>' + $item.data('name') + '</strong>',
            '        <br><span class="glyphicon glyphicon-envelope"></span>&nbsp;<a href="mailto:#">' + $item.data('email') + '</a>',
            '        <br><span class="glyphicon glyphicon-earphone"></span>&nbsp;' + $item.data('phone'),
            '        <br><span class="fa fa-institution"></span>&nbsp;' + $item.data('compnay'),
            '      </address>',
            '    </div>',
            '    <div class="col-sm-2">' + flagHTML + '</div>',
            '  </div>',
            '  <p>' + $item.data('text') + '</p>',
            '  <div class="row"><div class="col-sm-12">',
            '    <span class="glyphicon glyphicon-star" style="font-size:16px;"></span> : {{i18n .Lang "admin_msg_contact_processed"}}&nbsp;&nbsp;',
            '    <span class="glyphicon glyphicon-star-empty" style="font-size:16px;"></span> : {{i18n .Lang "admin_msg_contact_unprocessed"}}',
            '  </div></div>',
            '  <div class="alert-div"></div>',
            '</li>',
        ];

        $('#stage-div-id').empty().append(html.join(''));
    };

    // 生成行的html
    function genRowsHtml(page) {
        if (page == null || page.Rows == null || !(page.Rows instanceof Array) || page.Rows.length <= 0) {
            return '<li class="list-group-item text-center" href="javascript:void(0);">{{i18n .Lang "tips_no_data"}}</li>';
        }
        var rows = page.Rows;
        var html = [];
        for (var i = 0, len = rows.length; i < len; i++) {
            html.push('<a class="list-group-item" data-id="' + rows[i].Id + '" data-name="' + rows[i].Name + '" data-email="' + rows[i].Email + '" data-phone="' + rows[i].Phone + '" data-compnay="' + rows[i].Company + '" data-text="' + rows[i].Text + '" data-state="' + rows[i].State + '" href="javascript:void(0);" onclick="showMsg(this);">');
            html.push('<h4 class="list-group-item-heading">' + rows[i].Name + '&nbsp;&nbsp;&nbsp;<small>' + RFC3339ToIsoDateTime(rows[i].Created) + '</small></h4>');
            html.push('<p><small>' + truncate(rows[i].Text, 200, '...') + '</small></p>');
            html.push('</a>');
        }
        return html.join('');
    };

    // 按照页号加载数据
    function loadData(curPageNo) {
        if (typeof curPageNo !== "number") {
            curPageNo = 1;
        }
        $.ajax({
            type: "GET",
            url: "/admin/message/contact/page",
            data: {
                "curPageNo": curPageNo,
                "pageSize": 5,
            },
            dataType: "json",
            success: function(jsonData) {
                if (jsonData.Result === "success") {
                    $('#stage-div-id').empty();
                    $('#data-div-id').empty().append(genRowsHtml(jsonData.ExtObj));
                    var pages = jsonData.ExtObj.TotalPages;
                    $('#pagination').bootstrapPaginator({
                        totalPages: pages <= 0 ? 1 : pages,
                        currentPage: curPageNo,
                    });
                    return;
                }
                addAlert($('#alert-div-id'), jsonData.Msg, 'alert-danger');
            },
            error: function() {
                addAlert($('#alert-div-id'), '{{i18n .Lang "tips_sys_err_and_contact_tech"}}', 'alert-danger');
            }

        });
    };

    function search() {
        // 是否为简单搜索
        var isSimple = $('#simple-search:visible').length > 0;
        var data;
        if (isSimple) {
            var val = $.trim($("#simple-search-input").val());
            data = {
                "Name": val,
                "Email": val,
                "Phone": val,
                "Company": val,
                "Text": val,
                "op": "OR",
            };

        } else {
            data = $('#advance-search-form').serialize();
        }

        $.ajax({
            type: "POST",
            url: "/admin/message/contact/search",
            data: data,
            dataType: "json",
            success: function(jsonData) {
                if (jsonData.Result === "success") {
                    $('#stage-div-id').empty();
                    $('#data-div-id').empty().append(genRowsHtml(jsonData.ExtObj));
                    var pages = jsonData.ExtObj.TotalPages;
                    $('#pagination').bootstrapPaginator({
                        totalPages: pages,
                        currentPage: 1,
                    });
                    return;
                }
                addAlert($('#alert-div-id'), jsonData.Msg, 'alert-danger');
            },
            error: function() {
                addAlert($('#alert-div-id'), '{{i18n .Lang "tips_sys_err_and_contact_tech"}}', 'alert-danger');
            }
        });
    };

    function cleanSimpleSearch() {
        $('#simple-search-input').val('');
    };

    function cleanAdvanceSearch() {
        $('#msg-name').val('');
        $('#msg-email').val('');
        $('#msg-phone').val('');
        $('#msg-company').val('');
        $('#msg-text').val('');
        $('#msg-state').val('0');
        $('#msg-date-begin').val('');
        $('#msg-date-end').val('');
    };



    $(document).ready(function() {

        loadData();

        $('#pagination').bootstrapPaginator({
            bootstrapMajorVersion: 3,
            onPageChanged: function(event, oldPage, newPage) {
                loadData(newPage);
            }
        });

        $('#msg-date-begin').datetimepicker({
            format: 'YYYY-MM-DD HH:mm:ss',
            locale: '{{if eq .Lang `zh-CN`}}zh-cn{{else}}en-us{{end}}',
        });

        $('#msg-date-end').datetimepicker({
            format: 'YYYY-MM-DD HH:mm:ss',
            locale: '{{if eq .Lang `zh-CN`}}zh-cn{{else}}en-us{{end}}',
        });


        $('#simple-search .simple-search-menu-down').on('click', function() {
            $('#simple-search').hide();
            $('#advance-search').show();
            cleanAdvanceSearch();
        });

        $('#advance-search .glyphicon-menu-up').on('click', function() {
            $('#simple-search').show();
            $('#advance-search').hide();
            cleanSimpleSearch();
        });

        // 监听简单搜索框回车事件
        $('#simple-search-input').on('keypress', function(e) {
            var theEvent = e || window.event;
            var code = theEvent.keyCode || theEvent.which || theEvent.charCode;
            if (code !== 13) {
                return;
            }
            search();
        });

    });
    </script>

    {{template "tpl_ie_warning.html" .}}

</body>

</html>
