<!DOCTYPE html>
<html lang="en">

<head>
    {{template "tpl_meta.html"}}
    <title>Product item</title>
    <!-- Bootstrap Core CSS -->
    <link href="/static/plugins/bootstrap-3.3.2/css/bootstrap.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/
respond.min.js"></script>
    <![endif]-->
    <style type="text/css" media="screen">
    body {
        padding-top: 60px;
        padding-bottom: 30px;
    }
    
    hr.divider {
        margin: 30px 0px;
    }
    
    .field-required {
        color: #E50808;
        margin-left: 4px;
    }
    </style>
</head>

<body>
    {{template "tpl_navbar.html" .}}
    <!-- Page Content -->
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{.prod.Title}}</h1>
                <ol class="breadcrumb">
                    <li>
                        <a href="/">{{i18n .Lang "portal_navbar_home"}}</a>
                    </li>
                    <li>
                        <a href="/products">{{i18n .Lang "portal_navbar_products"}}</a>
                    </li>
                    <li class="active">
                        {{.prod.Title}}
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <!-- Portfolio Item Row -->
        <div class="row">
            <div class="col-md-8">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        {{range $index,$element := .prod.DetailImgs}}
                        <li data-target="#carousel-example-generic" data-slide-to="{{$index}}" {{if $index|eq 0}}class="active" {{end}}></li>
                        {{end}}
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        {{range $index,$element := .prod.DetailImgs}}
                        <div class="item {{if $index | eq 0}}active{{end}}">
                            <img class="img-responsive" src="/res{{.Path}}" alt="">
                        </div>
                        {{end}}
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <h3>{{i18n .Lang "portal_prod_item_intro"}}</h3>
                <p>{{.prod.Intro}}</p>
                <h3>{{i18n .Lang "portal_prod_item_desc"}}</h3> {{str2html .prod.Desc}}
            </div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Footer -->
        {{template "tpl_footer.html"}}
    </div>
    <!-- /.container -->
    <script src="/static/plugins/jquery-1.11.1.min.js"></script>
    <script src="/static/plugins/bootstrap-3.3.2/js/bootstrap.js"></script>
    <script src="/static/plugins/jquery.cookie.js"></script>
    <script src="/static/scripts/portal.js"></script>
</body>

</html>
