<div class="panel panel-default">
    <div class="panel-heading">{{i18n .Lang "admin_settings_personal_item_mailbox"}}</div>
    <div class="panel-body">
        <form class="form-horizontal mail-settings-form">
            <div class="form-group">
                <label class="col-md-2 control-label">{{i18n .Lang "admin_settings_personal_item_mail_account"}}</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="Account" maxlength="128" value="{{.sett.Account}}">
                    <label class="control-label" style="display:none;"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">{{i18n .Lang "admin_settings_personal_item_mail_pwd"}}</label>
                <div class="col-md-4">
                    <input type="password" class="form-control" name="Pwd" maxlength="50" value="{{if .sett.Pwd}}******{{end}}">
                    <label class="control-label" style="display:none;"></label>
                </div>
            </div>
            <!-- <div class="form-group">
                <label class="col-md-2 control-label">{{i18n .Lang "admin_settings_personal_item_mail_incoming"}}</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="Incoming" maxlength="100" disabled>
                    <label class="control-label" style="display:none;"></label>
                </div>
                <label class="col-md-2 control-label">{{i18n .Lang "admin_settings_personal_item_mail_incoming_port"}}</label>
                <div class="col-md-2">
                    <input type="text" class="form-control" name="IncomingPort" maxlength="5" value="143" disabled>
                    <label class="control-label" style="display:none;"></label>
                </div>
            </div> -->
            <div class="form-group">
                <label class="col-md-2 control-label">{{i18n .Lang "admin_settings_personal_item_mail_outgoing"}}</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="Outgoing" maxlength="100" value="{{.sett.Outgoing}}">
                    <label class="control-label" style="display:none;"></label>
                </div>
                <label class="col-md-2 control-label">{{i18n .Lang "admin_settings_personal_item_mail_outgoing_port"}}</label>
                <div class="col-md-2">
                    <input type="text" class="form-control" name="OutgoingPort" maxlength="5" value="{{if .sett.OutgoingPort}}{{.sett.OutgoingPort}}{{else}}25{{end}}">
                    <label class="control-label" style="display:none;"></label>
                </div>
            </div>
            <!-- <div class="form-group">
                <label class="col-md-2 control-label">邮箱类型：</label>
                <div class="col-md-10">
                    <p>IMAP</p>
                </div>
            </div> -->
            <div class="form-group">
                <div class="col-md-4 col-md-offset-2">
                    <button type="button" class="btn btn-default btn-block mail-test-conn" data-testing-text="{{i18n .Lang `label_btn_testing`}}" onclick="checkMailAuth($('.mail-settings-form'));">
                        {{i18n .Lang "label_btn_test_conn"}}
                    </button>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-primary btn-block mail-save-btn" onclick="saveMailBoxInfo($('.mail-settings-form'));">
                        {{i18n .Lang "label_btn_save"}}
                    </button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-8 col-md-offset-2 alert-div"></div>
            </div>
            
        </form>
    </div>
    <!-- /.panel-body -->
</div>
<script type="text/javascript">
$(document).ready(function() {
    // 根据邮箱帐号自动补全发件服务器
    $('.mail-settings-form :input[name="Account"]').change(function(event) {
        var account = $.trim($(this).val());
        var $outgoing = $('.mail-settings-form :input[name="Outgoing"]');
        // if ($.trim($outgoing.val()).length == 0) {
        var idx = account.indexOf("@");
        if (idx > 0 && idx < account.length - 1) {
            $outgoing.val("smtp." + account.substring(idx + 1));
        }
        // }
    });

});
</script>
